body {
  margin: 30px;
  padding: 30px;
  background: linear-gradient(to right, #7e92da, #dfe9fa);
}

header {
  text-align: center;
  border-style: dashed;
  border-color: #1a2661;
  border-width: 10px;
  margin: 20px;
  padding: 20px;
}

nav {
  word-spacing: 80px;
  margin-bottom: 30px;
}

a {
  font-family: 'Trebuchet Ms', Helvetica, sans-serif;
  text-decoration: none;
  color: #dfe9fa;
}

h1 {
  font-family: 'Lucida Handwriting';
  font-size: 80px;
  background: -webkit-linear-gradient(#1a2661, #7e92da);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: 'Lucida Handwriting';
  font-size: 30px;
  background: -webkit-linear-gradient(#1a2661, #7e92da);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: 'Lucida Handwriting';
  font-size: 30px;
  background: -webkit-linear-gradient(#1a2661, #7e92da);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: 'Trebuchet Ms', Helvetica, sans-serif;
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.img_cores {
  text-align: center;
}

.ultramarino {
  font-family: 'Lucida Handwriting';
  font-size: 30px;
  background: -webkit-linear-gradient(#1a2661, #7e92da);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.verde-acizentado {
  font-family: 'Lucida Handwriting';
  font-size: 30px;
  background: -webkit-linear-gradient(#0f2d29, #589f9c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rosa {
  font-family: 'Lucida Handwriting';
  font-size: 30px;
  background: -webkit-linear-gradient(#cc85b0, #f2b0dc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.branco {
  font-family: 'Lucida Handwriting';
  font-size: 30px;
  background: -webkit-linear-gradient(#000, #fff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.preto {
  font-family: 'Lucida Handwriting';
  font-size: 30px;
  background: -webkit-linear-gradient(#000, #fff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item {
  background: linear-gradient(to right, #7e92da, #dfe9fa);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Trebuchet Ms', Helvetica, sans-serif;
  text-align: justify;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  font-family: 'Trebuchet Ms', Helvetica, sans-serif;
  font-size: 20px;
  background: -webkit-linear-gradient(#1a2661, #7e92da);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item1 {
  font-family: 'Trebuchet Ms', Helvetica, sans-serif;
  font-size: 15px;
}

.item2 {
  font-family: 'Trebuchet Ms', Helvetica, sans-serif;
  font-size: 15px;
}

#para1 {
  text-align: center;
}

#para2 {
  text-align: center;
  font-family: 'Trebuchet Ms', Helvetica, sans-serif;
  font-size: 25px;
  background: -webkit-linear-gradient(#1a2661, #7e92da);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#h31 {
  text-align: center;
}

hr {
  border-style: dashed;
  border-width: 6px;
  border-color: #1a2661;
}

#img1 {
  text-align: center;
}